<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Los Angeles Ruby | LARuby.com</title>
  <%= stylesheet_link_tag "main" %>
</head>
<body>

<div id="main-container">
  <p>
<h2>Los Angeles Ruby/Rails Meetup</h2>
    <pre>
What: LA Ruby/Rails Meetup # 5

When: October 16, 2008 7:00 PM

Where: Click the link below to find out!

Meetup Description: LARuby/Rails Meetup #5

WHEN
Thursday, October 16th, 2008 at 7:00 PM

WHERE
<strong>Yellowpages.com</strong>
611 N. Brand Blvd.
Glendale, CA 91203
(818) 

WHO SHOULD COME
All LARuby members and anyone interested in learning more about Ruby
on Rails, networking or just eating some food.

MEETING TOPICS
(Lightning Talks TBD)
</pre>
<a href="http://tech.groups.yahoo.com/group/LARuby/">http://tech.groups.yahoo.com/group/LARuby/</a>
  </p>
</div>
<br />
<div id="main-container">  
  <p>
    <h2>Do you want an @ LARuby.com email address?</h2> 
    If so, shot me an email at fernyb at laruby.com and I'll hook you up.<br />
    <i>*email accounts are hosted with gmail, over 6GB of storage and growing.</i><br />
    <i>Cheers</i>
  </p>
</div>
</body>
</html>
