<div id="first-row">
  <%= @rss_feed.to_html %>
</div>

<div id="second-row">
  
  <div id="meetup">
    <h2>Next Meetup:<br />Thursday, Nov 20, 2008 7:00 PM</h2>
    <p>
    What: <strong>LA Ruby/Rails Meetup # 6</strong> <br />
    When: <strong>Thursday, November 20, 2008 7:00 PM</strong><br />
    Where: <strong>UCLA</strong><br />
    Meetup Description: <strong>LARuby/Rails Meetup #6</strong><br />
    <br />
   <strong> WHERE:</strong><br />
    <strong>UCLA</strong><br />
<br />
   <strong> WHO SHOULD COME</strong><br />
    All LARuby members and anyone interested in<br /> 
    learning more about Ruby<br />
    networking or just eating some food.<br />
    <br />
    <span class="redText">More info coming soon! including map/directions.</span>
<br />
    </p>
  </div>
<div class="seperator"></div>  
  <div id="meetup">
    <p>
    What: <strong>LA Ruby/Rails Meetup # 5</strong> <br />
    When: <strong>October 16, 2008 7:00 PM</strong><br />
    Where: Click the link below to find out!<br />
    Meetup Description: LARuby/Rails Meetup #5<br />
    <br />
    WHEN:<br />
    <strong>Thursday, October 16th, 2008 at 7:00 PM</strong><br />
    <br />
    WHERE:<br />
    <strong>Yellowpages.com</strong><br />
    611 N. Brand Blvd.<br />
    Glendale, CA 91203<br />
    (818) <br />
<br />
    WHO SHOULD COME<br />
    All LARuby members and anyone interested in<br /> 
    learning more about Ruby<br />
    on Rails, networking or just eating some food.<br />
<br />
    </p>
  </div>
</div>

<div id="third-row">
  <h2>Random Flick:</h2>
  <%= link_to(image_tag("2601558475_53264826a3.jpg", :width => 308, :border => 0), "http://flickr.com/photos/elliottcable/2601558475/") %>
</div>

