<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Los Angeles Ruby | LARuby.com</title>
  <%= stylesheet_link_tag "main" %>
</head>
<body>

<div id="main-container">
  <p>
    <h2>Do you want an @ LARuby.com email address?</h2> 
    If so, shot me an email at fernyb at laruby.com and I'll hook you up.<br />
    <i>*email accounts are hosted with gmail, over 6GB of storage and growing.</i><br />
    <i>Cheers</i>
  </p>
</div>
</body>
</html>
