html, body {
  background-color:#f4f4f4;
  margin:0px;
  padding:0px;
}
a {
  color:#cc0000;
}
h2 {
  color:#cc0000;
}
.redText {
  color:#cc0000;
}
#laruby-logo {
 margin:0px 10px;;
 padding:0px;
 float:left;
}
#next-meetup {
  float:left;
  margin:20px 10px;
}
.nxm-title {
  font-weight:bold;
  font-size:24px;
}
.nxm-date {
  font-size:46px;
  letter-spacing:-2px;
}
.nxm-time {
  font-size:14px;
  margin:0px 0px 0px 7px;  
  color:#666;   
}
.nxm-location {
  margin:10px 0px 0px 7px;
}
.nxm-location h2 {
  font-size:24px;
  margin:0px 0px 0px 0px;
  padding:0px;
}
.nxm-location p {
  font-size:14px;
  margin:0px;
  padding:0px;
  font-style:italic;
  color:#666;  
}

.wb {
  background-color:#fff;
  width:1009px;
  margin-left:4px;
}
#global-content {
  width:1024px;
  margin:0px auto 0px auto;
  border:0px solid #ccc;
  font-family:helvetica,arial,verdana;
  font-size:12px;
  color:#333;
}
#footnotes { 
  margin:12px auto 12px auto;
  font-family:helvetica,arial,verdana;
  font-size:12px;
  color:#ccc;
}
#rss-content>p {
  font-weight:bold;
}
#rss-content > * {
  padding:0px; margin:0px;
  list-style:none;
}
#rss-content ol li {
  margin-top:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ddd;
}

.clear:after {
  content:".";
  height:0;
  visibility:hidden;
  display:block;
  clear:both;
}
#rss-content {
  
}
#first-row, #second-row
{
  width:46%;
  float:left;
  border:4px solid #eee;
  margin:2px;
  padding:10px;
  background-color:#fff;
}
#second-row {
  width:47%;
}
.seperator {
  border-bottom:1px solid #ccc;
  margin-top:10px;
  height:1px;
  overflow:hidden;
}