<div class="wb">
	<div id="laruby-logo">
		<%= image_tag "la-ruby-logo.png" %>
	</div>
	<div id="next-meetup">
		<div class="nxm-date redText">Thursday, Nov 20, 2008</div>
		<div class="nxm-location">Boelter Hall 4760 at UCLA</div>
		<div class="nxm-time">7:00 PM</div>	
	</div>
<div class="clear"></div>	
</div>
