<div class="wb">
	<div id="laruby-logo">
		<%= image_tag "la-ruby-logo.png" %>
	</div>
	<div id="next-meetup">
		<div class="nxm-date redText">Thursday, Dec 18, 2008</div>
		<div class="nxm-location">
				<h2>The Americana at Brand</h2>
				<p>722 Americana way<br />
				The Marc Building - Grand Room<br />
				Glendale, CA 91210
				</p>
			</div>
		<div class="nxm-time">7:00 PM</div>	
	</div>
<div class="clear"></div>	
</div>
