.wb
  #laruby-logo
    = image_tag "la-ruby-logo.png"
  #next-meetup
    .nxm-date.redText
      Thursday, Jan 15, 2009
    .nxm-location
      %h2
        UCI Campus
      %p
        680 California
        %br
        Irvine, CA 92617
        %br
    .nxm-time
      7:00 pm
  .clear
