#first-row
  = @rss_feed.to_html
#second-row
  - @meetups.each do |meetup|
    #meetup
      %h2
        Next Meetup:
        %br
        = meetup.pretty_datetime
      = meetup.description
      %br
    .seperator